<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.lorvega.ambibox_app"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>AmbiBox Remote</name>

  <description>
      An AmbiBox Remote app
  </description>

 <platform name="android">
  <icon src="icon.png" width="256" height="256" />
</platform>

</widget>